<% include header %>

<form class="inlogscherm">
        <input type="name" name="aanmelden"
        placeholder="Gebruikersnaam"></input>

					<input type="password" name="aanmelden"
					placeholder="Wachtwoord"></input>

		<a href="zoekscherm-account"><button class="zonderAccount" type="button">Login</button></a>

</form>

<% include footer %>
