<% include header %>

<form method="get" action="startscherm">
      <input type="text" value="" name="gebruikersnaam" placeholder="Gebruikersnaam" class="invullen" required>
			<input type="password" value="" name="wachtwoord" placeholder="Wachtwoord" class="invullen" required>
	    <a href="startscherm" class="knop" id="aanmeldenKnop"><input type="submit" value="Aanmelden"></a>
</form>

<% include footer %>
