<% include header %>

<form class="inlogscherm" method="get" action="startscherm">
        <input type="text" name="gebruikersnaam" placeholder="Gebruikersnaam" required>
				<input type="password" name="wachtwoord" placeholder="Wachtwoord" required>
		    <a href="startscherm"><input type="submit" value="Aanmelden" class="zonderAccount"></a>
</form>

<% include footer %>
