<% include header %>

<form method="post" action="halteZoekenResultaat">
			<input type="text" name="lat" value="" placeholder="lat-locatie" id="lat" required>
			<input type="text" name="lng" value="" placeholder="long-locatie" id="lng" required>
      <input type="image" id="button" value="Halte zoeken">
</form>


<% include footer %>
