<% include header %>

<form method="post" action= "halteZoekenResultaat">
			<input type="text" name="lat" value="" placeholder="lat-locatie" id="lat" required>
			<input type="text" name="long" value="" placeholder="long-locatie" id="lng" required>
</form>


<% include footer %>
