	<!doctype html>
	<html>
		<head>
			<title>De Lijn</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/reset.css">
			<link rel="stylesheet" type="text/css" href="/css/style.css">
		</head>
		<body>
	<header>

  	<a href="startscherm"><img class="logo" src="/img/logo-de-lijn.png" alt="Logo De Lijn"</img></a>

	</header>
	<main>
