<% include header %>

<form action= "#">
	<label for="naam"></label>
		<input type="name" name="#"
		placeholder="Van">

    <label for="naam"></label>
      <input type="name" name="#"
      placeholder="Naar">

      <label for="naam"></label>
        <input type="number" name="#"
        placeholder="Lijn">

        <label for="naam"></label>
          <input type="date" name="#">

		<input type= "submit" name= "search" value="Zoek">
</form>


<% include footer %>
