<% include header %>

	<div class="inlogscherm">
 		<a href="aanmelden" class="inlog">Aanmelden</a>
		<a href="registreren" class="inlog">Registreren</a>
		<a href="startscherm" class="inlog">Doorgaan zonder account</a>
	</div>

<% include footer %>
