<% include header %>

	<form class="inlogscherm" action="#">
 		<a href="aanmelden"><input type="button" value="Aanmelden" name="aanmelden" class="inlog"></a>
		<a href="registreren"><input type="button" value="Registreren" name="registreren" class="inlog"></a>
		<a href="startscherm"><input type="button" value="Doorgaan zonder account" name="doorgaan" class="inlog zonderAccount"></a>
	</form>

<% include footer %>
