<% include header %>

	<form class="inlogscherm">
 		<a href="aanmelden"><button class="inlog" type="button">Aanmelden</button></a>
		<a href="registreren"><button class="inlog" type="button">Registreren</button></a>
		<a href="zoekscherm"><button class="inlog" class="zonderAccount" type="button">Verder zonder account</button></a>
	</form>

<% include footer %>
