<% include header %>

<form method="post" action= "lijnZoekenResultaat">
			<input type="text" name="inDeBuurt" value="" placeholder="Gemeente" id="inDeBuurt" class="invullen" required>
			<input type="text" name="lijn" value="" placeholder="Lijn" id="lijn" class="invullen" required>
			<input type="submit" name="zoeken" value="Lijnen zoeken" id="lijnenKnop" class="knop">
</form>

<% include footer %>
