<% include header %>

<form method="post" action= "lijnBekijken">
			<input type="name" name="#" placeholder="Van" class="invullen">
			<input type="name" name="#" placeholder="Naar" class="invullen">
			<input type="number" name="#" placeholder="Lijn" class="invullen">
			<input type="time" name= "#">
</form>

<% include footer %>
