<% include header %>

<form class="inlogscherm" method="post" action="startscherm">
        <input type="name" name="aanmelden"
        placeholder="Gebruikersnaam"></input>

					<input type="password" name="aanmelden"
					placeholder="Wachtwoord"></input>

					<input type="email" name="aanmelden"
					placeholder="E-mail"></input>

					<input type= "submit" name= "login" value="Registreren"></input>
</form>


<% include footer %>
