<% include header %>

<form method="get" action="startscherm">
        <input type="text" value="" name="gebruikersnaam" placeholder="Gebruikersnaam" required>
        <input type="email" value="" name="email" placeholder="E-mail" required>
				<input type="password" value="" name="wachtwoord" placeholder="Wachtwoord" required>
		    <a href="startscherm"><input type="submit" value="Registreren" class="zonderAccount"></a>
</form>

<% include footer %>
