<% include header %>

<form method="post" action= "routePlannenResultaat">
			<input type="text" name="startPoint" value="" placeholder="Van" class="invullen" required>
			<input type="text" name="endPoint" value="" placeholder="Naar" class="invullen" required>
			<input type="date" name="date" value="" required>
			<input type="time" name="time" value="" required>
			<select name="arrivalDeparture">
		    		<option value="1">Vertrekken</option>
		    		<option value="2">Aankomen</option>
	  </select>
			<div class="vervoersMiddelen">
						<input type="radio" name="byBus" value="Bus" class="fotoCheckbox">
						<label for="bus" class="labels"><img src="/img/bus.png" alt="Bus"></label>
						<input type="radio" name="byTram" value="Tram" class="fotoCheckbox">
						<label for="tram" class="labels"><img src="/img/tram.png" alt="Tram"></label>
						<input type="radio" name="byMetro" value="Metro" class="fotoCheckbox">
						<label for="metro" class="labels"><img src="/img/tram.png" alt="Metro"></label>
						<input type="radio" name="byTrain" value="Trein" class="fotoCheckbox">
						<label for="trein" class="labels"><img src="/img/trein.png" alt="Trein"></label>
						<input type="radio" name="byBelbus" value="Belbus" class="fotoCheckbox">
						<label for="belbus" class="labels"><img src="/img/bus.png" alt="Belbus"></label>
			</div>
			<input type="submit" name="zoeken" value="Routes zoeken" id="routesKnop" class="knop">
</form>

<% include footer %>
