<% include header %>

<form method="post" action= "routeBekijken">
		<input type="name" name="#"
		placeholder="Van">

      <input type="name" name="#"
      placeholder="Naar">

        <input type="number" name="#"
        placeholder="Lijn">

        <input type="time" name= "#">

</form>


<% include footer %>
