<% include header %>

<form method="post" action= "routePlannenResultaat">
			<input type="text" name="van" value="" placeholder="Van" id="van" class="invullen" required>
			<input type="text" name="naar" value="" placeholder="Naar" id="naar" class="invullen" required>
			<input type="date" name="datum" value="" id="datum" required>
			<input type="time" name="tijd" value="" id="tijd" required>
			<select name="arrivalDeparture">
		        <option value="1">Vertrekken</option>
		        <option value="2">Aankomen</option>
	    </select>
			<input type="submit" name="zoeken" value="Routes zoeken" id="routesKnop" class="knop">
</form>

<% include footer %>
