<% include header %>

<form method="post" action= "routePlannenResultaat">
			<input type="text" name="#" placeholder="Van" class="invullen" required>
			<input type="text" name="#" placeholder="Naar" class="invullen" required>
			<input type="text" name="#" placeholder="Lijn" class="invullen">
			<input type="date" name= "#">
			<input type="time" name= "#">
			<select name="wanneer">
		        <option value="Vertrek">Vertrekken</option>
		        <option value="Aankomst">Aankomen</option>
	    </select>
			<input type= "submit" name= "submit" value="Zoeken" class="knop">
</form>

<% include footer %>
