<% include header %>

	<div>
 		<a href="routePlannen" class="inlog">Route plannen</a>
		<a href="lijnZoeken" class="inlog">Lijn zoeken</a>
		<a href="verkooppuntZoeken" class="inlog">Verkooppunt zoeken</a>
	</div>

<% include footer %>
