<% include header %>

	<form class="inlogscherm" method="get" action="#">
 		<a href="routePlannen"><input type="button" name="routePlannen" value="Route plannen" class="inlog"></a>
		<a href="lijnZoeken"><input type="button" name="lijnZoeken" value="Lijn zoeken" class="inlog"></a>
		<a href="verkooppuntZoeken"><input type="button" name="verkooppuntZoeken" value="Verkooppunt zoeken" class="inlog"></a>
	</form>

<% include footer %>
