<% include header %>

<p>Halte notificaties</p>
<label><input type="checkbox" class="ios-switch tinyswitch" checked /><div><div></div></div></label>
<!--kaart-->
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20012.737912150824!2d4.74230735!3d51.17130645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1snl!2sbe!4v1511906908031" width="265" height="340" frameborder="0" style="border:0" allowfullscreen></iframe>

<div class="bestemming"><h2>x minuten tot eindbestemming</h2></div>

<% include footer %>
