<% include header %>

<form>
	<div class="favorieten">
			<h2>Favorieten</h2>
			<ul class="lijnen">
				<a href="#"><button class="lijn23">23</button></a>
				<a href="#"><button class="lijn14">14</button></a>
				<a href="#"><button class="lijn40">40</button></a>
				<a href="#"><button class="lijn24">24</button></a>
			</ul>
	</div>

		<input type="name" name="#"
		placeholder="Van"></input>

      <input type="name" name="#"
      placeholder="Naar"></input>

        <input type="number" name="lijn-account"
        placeholder="Lijn"></input>

				<div class="vervoerIcons">
					<img class= "vervoer" src="/img/icoon1.png" tabindex="-1" alt="bus"</img>
					<img class= "vervoer" src="/img/icoon2.png" tabindex="-1" alt="tram"</img>
					<img class= "vervoer" src="/img/icoon3.png" tabindex="-1" alt="trein"</img>
				</div>
        <input type="date" name= "#"></input>

        <input type="time" name= "#"></input>

        <select name="wanneer">
          <option value="Vertrek">Vertrek</option>
          <option value="Aankomst">Aankomst</option>
        </select>

				<a href="zoekresultaat-a"><button class="zoek" type="button">Zoek</button></a>
</form>


<% include footer %>
