<% include header %>

<button class="pijl">&#x25B2;</button><h2>Vroeger</h2>
<ul>
	<li class="zoekresultaat">


		<div class="item">
		<div class="bussen">
			<h2>xx:xx - xx:xx</h2>
			<img class="vervoer" id="vervoer" src="/img/icoon1.png" tabindex="-1" alt="tram" </img>
			<a href="#"><button class="lijnnummer">x</button></a>
			<img class="lopen" src="/img/stappen.png" tabindex="-1" alt="tram" </img>
			<p>Overstappen: x</p>
			<p>Te voet: xm</p>
		</div>
			<div class="content closed">
				<a href="zoekresultaat-b"><button class="startroute">Start route</button></a>
				<button class="startroute">Koop ticket</button>
			</div>
		</div>

		<div class="item">
			<div class="bussen">
			<h2>xx:xx - xx:xx</h2>
			<img class="vervoer" id="vervoer" src="/img/icoon1.png" tabindex="-1" alt="tram" </img>
			<a href="#"><button class="lijnnummer">x</button></a>
			<img class="lopen" src="/img/stappen.png" tabindex="-1" alt="tram" </img>
			<p>Overstappen: x</p>
			<p>Te voet: xm</p>
		</div>
			<div class="content closed">
				<a href="zoekresultaat-b"><button class="startroute">Start route</button></a>
				<button class="startroute">Koop ticket</button>
			</div>
		</div>

		<div class="item">
			<div class="bussen">
			<h2>xx:xx - xx:xx</h2>
			<img class="vervoer" id="vervoer" src="/img/icoon1.png" tabindex="-1" alt="tram" </img>
			<a href="#"><button class="lijnnummer">x</button></a>
			<img class="lopen" src="/img/stappen.png" tabindex="-1" alt="tram" </img>
			<p>Overstappen: x</p>
			<p>Te voet: xm</p>
		</div>
			<div class="content closed">
				<a href="zoekresultaat-b"><button class="startroute">Start route</button></a>
				<button class="startroute">Koop ticket</button>
			</div>
		</div>


	</li>
</ul>
<button class="pijl">&#x25BC;</button><h2>Later</h2>

<% include footer %>
