body {
  background-color: #FECE00;
  background-image: url('/img/cmp-patroon.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  width: 80vw;
  height: 80vh;
  box-sizing: border-box;
  margin-left: 10vw;
  margin-top: 8vh;
  font-weight: 900;
  font-size: 2.8vh;

}

.logo {
  width: 18vw;
  margin-bottom: 5vh;
}

h1 {
  font-size: 1em;
  font-family: 'PT Sans', sans-serif;
  font-weight: 900;
}

h2 {
  font-weight: normal;
}

p {
  font-size: 0.8em;
  font-weight: normal;
}

label {
  font-size: 1.3em;
  line-height: 2em;
  display: block;
}

input[type="name"], input[type="number"] {
  font-size: 1em;
  border: none;
  margin-left: 3vw;
  margin-top: 2vh;
  padding: 3%;
  background-color: #F0F0F0;
  width: 68vw;
  color: #696969;
}

input[type="date"] {
  font-size: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid #202B3D;
  margin-left: 3vw;
  margin-top: 2vh;
  padding: 2% 0% 2% 2%;
  background-color: transparent;
  width: 50%;
  color: #696969;
}

input[type="time"] {
  font-size: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid #202B3D;
  margin-left: 3vw;
  margin-top: 2vh;
  padding: 2% 0% 2% 2%;
  background-color: transparent;
  color: #696969;
}

select {
  font-size: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid #202B3D;
  margin-left: 3vw;
  margin-top: 2vh;
  padding: 2% 0% 2% 2%;
  background-color: transparent;
  color: #696969;
}

input[type="submit"]  {
  font-size: 1em;
  width: 28%;
  background-color: #202B3D;
  padding: 3%;
  margin-left: 3vw;
  margin-top: 4vh;
  display: block;
  border-radius: 30px;
  border: none;
  color: white;
}

.inlog {
  font-size: 1em;
  width: 85%;
  background-color: #202B3D;
  padding: 5%;
  margin-left: 6vw;
  margin-top: 2vh;
  display: block;
  border-radius: 30px;
  border: none;
  color: white;
}

.lijnen {
  width: 30%;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}

.favorieten {
  background-color: #F0F0F0;
  padding: 5%;
  width: 81%;
  margin-left: 3vw;
}

button {
    display: block;
    border: none;
}

.zoek {
  width: 28%;
  padding: 2.5%;
  margin-top: 3.5vh;
  margin-left: 3vw;
  font-size: 1em;
  border-radius: 30px;
  color: white;
  background-color: #202B3D;
}

.zonderAccount {
  background-color: white;
  color: #202B3D;
  margin-top: 6vh;
  font-size: 1em;
  width: 90%;
  padding: 5%;
  margin-left: 3vw;
  margin-top: 5vh;
  border-radius: 30px;
}

.lijn23, .lijn14, .lijn40, .lijn24 {
  padding: 10%;
  margin-top: 1.5vh;
  font-size: 1em;
  width: 90%;
  margin-left: 6vw;
  border-radius: 30px;
  color: white;
}

.lijn23 {
  background-color: #202B3D;
}

.lijn14 {
  background-color: #E22D4B;
}

.lijn40 {
  background-color: #ED8F07;
}

.lijn24 {
  background-color: #21AA96;
}

.lijnnummer {
  background-color: #202B3D;
  width: 25%;
  padding: 3%;
  color: white;
  border-radius: 60px;
  float: left;
}

.closed{
    height: 0;
    overflow: hidden;
}

.item {
  border-top: 1.5px solid black;
  margin-top: 5%;
}
.pijl {
  background-color: transparent;

}
input[name="lijn-account"] {
  width: 35%;
}
/*
#vervoer {
  float: left;
}
*/
.vervoer {
  background-color: #F0F0F0;
/*  width: 18%; */
  width: 10%;
  padding: 1%;
/*  margin-left: 2.9%; */
  margin-top: 4.5%;
  margin-left: 4%;
  margin-right: -3%;
}

/*.vervoerIcons {
  position: absolute;
  top: 56.5%;
  left: 47.1%;
}*/

.lopen {
  background-color: transparent;
  width: 8%;
  padding: 1%;
  float: left;
}

.vervoer:focus {
  border-bottom: 2px solid #202B3D;
}

a {
  text-decoration: none;
}

.inlogscherm {
  margin-top: 4vh;
}

input[name="aanmelden"]  {
  border: none;
  color: white;
  background-color: #202B3D;
  border-radius: 30px;
  padding: 5%;
  margin-left: 3vw;
  margin-top: 2vh;
  font-size: 1em;
  width: 80%;
}

input[name="login"]  {
  border: none;
  color: #202B3D;
  background-color: white;
  border-radius: 30px;
  padding: 5%;
  margin-left: 3vw;
  margin-top: 6vh;
  font-size: 1em;
  width: 90%;
}

.bestemming {
  background-color: white;
  padding: 5%;
  border-radius: 60px;
  text-align: center;
  font-size: 0.8em;
  margin-top: 3%;
}

.zoekresultaat {
  border-bottom: 2px solid #202B3D;
  background-color: #F0F0F0;
  padding: 5%;
  width: 81%;
  margin-left: 3vw;
}

.startroute {
  border-radius: 0px;
  width: 60%;
  color: white;
  background-color: #202B3D;
  font-size: 1em;
  padding: 3%;
  margin-top: 1vh
}

iframe {
  margin-left: 3vw;
}

/* --- switch knop --- */
label {
  margin-left: 20%;
  margin-top: -11%;
}

input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}

input[type="checkbox"].ios-switch + div {
	vertical-align: middle;
	width: 40px;	height: 20px;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: 999px;
	background-color: lightgrey;
	-webkit-transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
	margin: 15px 1.2em 15px 2.5em;
}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
	width: 40px;
	background-position: 0 0;
	background-color: #202B3D;
	border: 1px solid #202B3D;
	box-shadow: inset 0 0 0 10px #202B3D;
}

/* Tiny Track */
input[type="checkbox"].tinyswitch.ios-switch + div {
	width: 34px;	height: 18px;
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
	float: left;
	width: 18px; height: 18px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color, box-shadow;
	-moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-moz-transition-duration: 0.4s;
	-moz-transition-property: transform, background-color;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	margin-top: 1px;
	margin-left: 1px;
}

/* Tiny Knob */
input[type="checkbox"].tinyswitch.ios-switch + div > div {
	width: 16px; height: 16px;
	margin-top: 1px;
}

/* Checked Tiny Knob (Blue Style) */
input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
	-webkit-transform: translate3d(16px, 0, 0);
	-moz-transform: translate3d(16px, 0, 0);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}
/* --- einde switch knop --- */
