<h1>Bereken route</h1>

<form method="post" action="/result">
		<input type="text" name="startPoint" placeholder="Van" value="">

    <input type="name" name="endPoint" placeholder="Naar" value="">

    <input type="date" name= "date">

    <input type="time" name= "time">

    <select name="arrivalDeparture">
      <option value="1">Vertrek</option>
      <option value="2">Aankomst</option>
    </select>

		<input type= "submit" value="Toon resultaten">
</form>
